/* Login.css */

.login-page {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    /*min-height: 100vh;*/
    margin-top: 160px;
    box-sizing: border-box;
  }
  
  .login-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    align-self: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    background: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-link {
    margin-top: 10px;
  }
  
  .signup-link p {
    margin: 0;
    font-size: 14px;
  }
  
  .signup-link a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Media Queries */
  @media (max-width: 600px) {
    .login-form {
      width: 80%; /* Adjust the width for smaller screens */
    }
  }
  